body {
  background-image: linear-gradient(to right, #16222A, #3A6073);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 15px;
  color: #87afc7;
}
#container {
  max-width: 600px;
  height: auto;
  margin: auto;
  padding: 25px;
  border-radius: 8px;
  background-image: linear-gradient(to left, #16222A, #3A6073);
}
h2 {
  text-align: center;
}
#form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input{
  background-color: #16222A;
  color: #87afc7;
  padding: 5px;
  margin-bottom: 25px;
  width: 70%;
  height: 20px;
  font-weight: 800;
  border: none;
  border-radius: 3px;
}
input:focus{
  outline: none;
  border: 2px solid #87afc7;
}
button{
  padding: 10px 15px;
  font-weight: 800;
  background-color: #16222A;
  color: #87afc7;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#main-div {
  margin-top: 20px;
  text-align: center;
}

#main-div img {
  border-radius: 50%;
  margin-bottom: 15px;
  width: 100px;
  height: 100px;
}

a {
  display: inline-block; 
  padding: 10px 15px; 
  background-color: #16222A; 
  color: #87afc7; 
  border-radius: 4px;  
  font-weight: 800; 
  cursor: pointer;
  margin-top: 10px; 
}

#main-div {
  margin-top: 20px;
  text-align: center;
  background-image: linear-gradient(to right, #16222A, #3A6073);
  border-radius: 10px; 
  padding: 20px; 
}

#main-div p {
  margin: 10px; 
  font-size: 16px; 
  color: #87afc7; 
}

#main-div p:first-child {
  font-weight: bold;
  font-size: 16px; 
}
